#main{
    background-color: aquamarine;
    font-size: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;

}
h2{ 
    display:no-flex ;
}
#root{
    margin: auto;
    height: 20vh;
}